textarea {
    resize: none;
    height:300px;
}
.card {
    height: 500px;
    width: 250px;
}
.img{
    width: 100%;
    height: auto;
    max-height: 300px;
}
.description{
    font-size: 20px;
}
.img-single{
    width: 50%;
    height: auto;
}
